link(rel="stylesheet", href="/css/register-temp.css", data-inline)

.confirm-email
  .container
    h4 Mnemonicpedia
    p
      | Hello #{name}
    p
      | In order to start using your account, you need to confirm your email.
    .text-center
      button.btn(type='submit')
        | CONFIRM YOUR EMAIL ADDRESS
    .rights
      p
        | Use of the service and website is subject to
        a(href='terms.html') our Terms of Use
        |  and
        a(href='#') Privacy Statement
        | .
      p
        | &copy; 2020 Mnemonicpedia. All rights reserved
